.btn{
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s;
    text-decoration: none;
    font-size: 0.7em;
    max-height: 100%;
    max-width: 100%;
    padding: 0.3em;
    font-weight: 500;
    text-align: center;
}

.btn:hover{
    padding: 0.4em;
    background-color: #455680;
    color: white;
}

.default{
    background-color: #3760BF;
    color: white;
}

.transparent {
    background-color: transparent;
    color: #3760BF;
    border: 1px solid #007bff;
}

.default-big{
    font-size: 1.2em;
    width: 20%;
    background-color: #3760BF;
    color: white;

}