.footer{
    background-color: #3760BF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.social{
    padding: 1em;
    display: flex;
    gap: 1em;
    font-size: 1.5em;
    cursor: pointer;
}

.logo{
    max-width: 100px;
}