.header{
    background-color: #3760BF;
    display: flex;
    justify-content: space-between;
}

.header a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.headerLinks{
    display: flex;
    padding: 2em;
    margin-right: 1em;
    gap: 2em;
    color: white;
}

.logo{
    max-width: 100px;
}