.listProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5A97BF;
    margin: 1em;
    list-style-type: none;
}

.listProduct li{
    margin-right: 1em;
    padding: 1em;
    color: white;
    text-align: center;
}

.listProduct li a {
    color: white;
}

.editBtn:hover{
    color:yellow;  
    cursor: pointer
}