.main{
    color: #5A97BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.divBanner{
    width: 100vw;
    max-height: 200px;
}

.divBanner img{
    width: 100%;
    height: 100vh;
}

.main p {
    font-weight: 500;
    margin: 1em;
}
