.main{
    color: #5A97BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divBanner{
    width: 100%;
    height: 250px; 
    overflow: hidden; 
    position: relative;
    margin-bottom: 2em;
}

.divBanner img {
    width: 100%; 
    height: auto; 
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
 } 

.main p {
    font-weight: 500;
    margin: 1em;
}
